.Contact-Card {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}

span {
    color: rgb(255, 67, 67);
    font-weight: 700;
}
